<div class="class-section p-4">
    <h1>Clases</h1>
    
    <div class="mb-4 d-flex justify-content-between align-items-center w-100">
      <div>
        <button mat-fab extended color="secondary">
          <mat-icon>add</mat-icon>
          Crear una clase
        </button>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Selecciona un curso</mat-label>
          <mat-select [(value)]="selectedCourse">
            <mat-option *ngFor="let course of courses" [value]="course">
              {{ course.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  
  <div *ngIf="selectedCourse">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let class of selectedCourse.classes"
        (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)"
        class="mb-2">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ class.title }} </mat-panel-title>
          <mat-panel-description>
            <button mat-icon-button style="margin-left: auto;">
                <mat-icon>folder</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p><strong>ID de clase:</strong> {{ class.id }}</p>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
