<mat-nav-list>
    <a
      routerLink="home"
      routerLinkActive="active-link"
      mat-list-item>
      <mat-icon matListItemIcon>home</mat-icon>
      Inicio
    </a>
    <a
      routerLink="students"
      routerLinkActive="active-link"
      mat-list-item>
      <mat-icon matListItemIcon>assignment_ind</mat-icon>
      Alumnos
    </a>
    <a
      routerLink="courses"
      routerLinkActive="active-link"
      mat-list-item>
      <mat-icon matListItemIcon>school</mat-icon>
      Cursos
    </a>
    <a
      routerLink="/auth/login"
      routerLinkActive="active-link"
      mat-list-item>
      <mat-icon matListItemIcon>logout</mat-icon>
      Cerrar sesión
    </a>
</mat-nav-list>
